<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>565573250233-i4030id43plf7okvp2vdg106bccphd0n.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.565573250233-i4030id43plf7okvp2vdg106bccphd0n</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>565573250233-f7kvqqnibiceht1mrnnheae9ej9u3gsl.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBdniBQIIZknf6G43Oq87KJqXrEDYxi7Rc</string>
	<key>GCM_SENDER_ID</key>
	<string>565573250233</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martin.pingapp.pingApp</string>
	<key>PROJECT_ID</key>
	<string>ping-5657e</string>
	<key>STORAGE_BUCKET</key>
	<string>ping-5657e.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:565573250233:ios:8c32c74b96979ca572ff68</string>
</dict>
</plist>