<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>29322079000-5k0ir5mavjs27epo561hkup8ie1jk6qo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.29322079000-5k0ir5mavjs27epo561hkup8ie1jk6qo</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>29322079000-784u5q6oah9du5u8r5m60qter0a1uncu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyBY_1BnyowrCYPA4aN7uOYJ3OewtfKsXHQ</string>
	<key>GCM_SENDER_ID</key>
	<string>29322079000</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.martin.pingapp.pingApp</string>
	<key>PROJECT_ID</key>
	<string>pingapp-17ef7</string>
	<key>STORAGE_BUCKET</key>
	<string>pingapp-17ef7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:29322079000:ios:b631e82f6e320ac3644c6d</string>
</dict>
</plist>